/* 
BLUE: #55b7d1
GREEN/YELLOW: #bdd73e
*/


#page-wrapper {
	position: relative;
}

#page-wrapper, .region-page-closure {
	width: 1024px;
}

#site-name {
	text-indent: -2000px;
}

h1, h2, h3 {
	color: #55b7d1;
	font-family:  'Droid Sans', arial, serif;
}

#header {
	height: 145px;
}


/*
table styling
*/

thead th {
	background: #bdd73e;
}

table.donor-rally-team-stats .odd {
	background: #e0e0e0;
}


.sidebar .block h2.title {
	font-size: 1.5em;
}

body.one-sidebar .region-sidebar-second {
	width: 250px;
}

#block-boxes-donor_rally_welcome .content p {
	font-size: 2em;
}


/* TEAM PAGES */

.node-type-team h1.title {
	position: relative;
	
}

#donor-rally-paypal-donate-form #edit-button {
  font-size: 2em;
}
#donor-rally-paypal-donate-form .form-item {
}
#block-donor_rally-1 {
}
.team-page #content-area {
  float: right;
  width: 250px;
}
.team-page .region-content-bottom {
  float: left;
  width: 500px;
}
#context-block-views-team_information-block_1 {
  float: left;
  padding-left: 20px;
  width: 200px;
}
#context-block-donor_rally-1 {
  width: 200px;
  padding-left: 20px;
  float: left;
}
#context-block-donor_rally-5,
#block-views-team_blog-block { clear: both; }
#context-block-donor_rally-0 { width: 250px; float: left; }