/* 
BLUE: #55b7d1
GREEN/YELLOW: #bdd73e
*/
body {
	background: #d2d2d2 url('../images/bodyBG.png') top left repeat-x;
}

#logo {
	margin: 20px 0 0;
}

#page-wrapper {
	position: relative;
}

#page-wrapper, .region-page-closure {
	width: 1024px;
}

#main {
	padding: 20px;
}

.sidebar-second #content {
	margin-left:0;
	margin-right:-660px;
	width:655px;
}

body.one-sidebar .region-sidebar-second {
	margin-left: 660px;
	margin-right: -970px;
	width: 310px;
}

#site-name {
	text-indent: -2000px;
}

h1, h2, h3 {
	color: #111;
	font-family:  'Droid Sans', arial, serif;
}

#header {
	height: 145px;
	background: transparent;
	margin: 0 0 10px 0;
}

.breadcrumb {
	background: #b8d3df;
	padding: 2px;
	display: inline;
	border-top: 1px solid #b4b4b4;
	border-bottom: 1px solid #FFF;
}

.breadcrumb a:link,
.breadcrumb a:visited {
	color: #55b7d1;
	padding: 2px 4px;
}

.breadcrumb a:focus,
.breadcrumb a:hover {
	color: #333;
}

/*
table styling
*/

thead th {
	background: #bdd73e;
}

table.donor-rally-team-stats .odd {
	background: #e0e0e0;
}


.sidebar .block h2.title {
	font-size: 1.5em;
}


#block-boxes-donor_rally_welcome .content p {
	font-size: 2em;
}


/* TEAM PAGES */

.node-type-team h1.title {
	position: relative;
	margin: 15px 0 0 0;
}

#donor-rally-paypal-donate-form #edit-button {
  font-size: 2em;
	background: #55b7d1;
	color: #e0e0e0;
}

#donor-rally-paypal-donate-form #edit-button:hover {
	background: #333;
	color: #bdd73e ;
}

#donor-rally-paypal-donate-form .form-item {
}
#block-donor_rally-1 {
}
.team-page #content-area {
  float: right;
  width: 250px;
}
.team-page .region-content-bottom {
  float: left;
}


#context-block-donor_rally-1 {
  width: 200px;
  padding-left: 20px;
  float: left;
}

#context-block-donor_rally-5,
#block-views-team_blog-block { clear: both; }
#context-block-donor_rally-0 { width: 250px; float: left; }

.view-donor-rally-team-logo {
	float: left;
	width: 200px;
	margin: 0 10px 0 0;
}

.view-team-information {
	float: left;
	font-size: 2em;
	line-height: 1.2em;
	width: 400px;
	padding: 5px 15px;
}


/* TEAM BLOG */

.view-team-blog {
	margin: 15px 0 0 0;
}

.view-team-blog ul {
	margin: 15px 0 0 0;
	padding: 0;
}

.view-team-blog ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.view-team-blog ul li.views-row {
	padding: 5px 10px;
	background: #e0e0e0 url('../images/blogBG.png') top center no-repeat;
	margin: 10px 0;
}

.view-team-blog ul li.views-row .meta {
	background: #FFF;
	padding: 4px 5px;
	margin: 0 0 20px;
	color: #888;
}

.view-team-blog ul li.views-row .meta a:link,
.view-team-blog ul li.views-row .meta a:visited {
	color: #55b7d1;
}	

.view-team-blog ul li.views-row .meta a:hover,
.view-team-blog ul li.views-row .meta a:focus {
	color: #333;
}

.view-team-blog h2.title {
	margin: 5px 0 10px;
}
	
.view-team-blog h2.title a:link,
.view-team-blog h2.title a:visited {
	color: #FFF;
	background: #bdd73e;
	padding: 3px 5px 1px;
	display: block;
	text-decoration: none;
	margin: 0;
}

.view-team-blog h2.title a:hover,
.view-team-blog h2.title a:focus {
	background: #55b7d1;
}