/* $Id: filefield-rtl.css 828 2009-06-16 17:56:46Z jhedstrom $ */

.filefield-icon {
  float: right;
  margin-left: 0.4em;
}

.filefield-element .widget-preview {
  float: right;
  padding-left: 10px;
  border-left: 1px solid #CCC;
  margin-left: 10px;
}

.filefield-element .widget-edit {
  float: right;
}

.filefield-element div.ahah-progress,
.filefield-element div.throbber {
  padding: 1px 3px 2px 13px;
}

.filefield-generic-edit .filefield-icon {
  float: right;
  margin-left: 0.7em;
}

.filefield-generic-edit-description {
  margin-left: 6em;
}
